.page-header
  \%= link_to %= index_helper %&gt;_path, class: 'btn btn-default' do %&gt;
  %span.glyphicon.glyphicon-list-alt
  Back
  \% end %&gt;
  %h1
    New #{singular_table_name}
\%= render 'form' %&gt;
